<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Heart Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>About Heart Disease Prediction</h1>
        <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Heart Disease Awareness" style="width:100%; max-height:400px; object-fit:cover;">
    </header>
    <main>
        <h2>About This Tool</h2>
        <b><p>This application helps in predicting heart disease based on user inputs.</p></b>
        <p>Cardiovascular diseases (CVDs) are a group of disorders affecting the heart and  blood vessels, and heart disease is the most common type. According to the World Health Organization (WHO), cardiovascular diseases are the leading cause of death globally, accounting for nearly 17.9 million deaths each year, which is about 32% of all global deaths. Of these deaths, 85% are due to heart attacks and strokes. Early detection and management of heart disease can significantly reduce the risk of severe complications and death.
            Heart disease prediction has historically been the domain of medical professionals, where a diagnosis was made based on a combination of patient symptoms, family history, and various clinical tests. However, the complexity of heart disease means that multiple factors (such as cholesterol levels, age, blood pressure, etc.) influence the diagnosis. This makes it challenging for healthcare providers to make quick and accurate predictions.
            Advances in machine learning (ML) and data analytics have opened new avenues in the field of medical diagnostics. With the availability of large medical datasets and powerful computational tools, machine learning models can be trained to recognize patterns in patient data that may not be obvious to human doctors. These models can be used to predict the likelihood of a patient having heart disease based on their medical data.</p>
    </main>
    <nav>
        <a href="/" style="color: blue; background-color: cornflowerblue;">Go back to Home</a>
    </nav>
</body>
</html>
